version: '2'
services:
  app:
    image: 'docker-spring-boot-postgres:latest'
    build:
      context: .
    container_name: app
    ports:
      - "PORT:PORT"
    depends_on:
      - db
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/emporio
      - SPRING_DATASOURCE_USERNAME=
      - SPRING_DATASOURCE_PASSWORD=
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - SERVER_PORT=
      - cloudnaryName =emporiodacidade
      - cloudnaryApiKey =327996562365491
      - cloudnaryApiSecret =noIvpqpsSd4Tf9PbBC8L4CW4TeQ
          
  db:
    image: 'postgres:13.1-alpine'
    container_name: db
    ports:
      - "PORT:PORT"
    environment:
      - POSTGRES_USER=
      - POSTGRES_PASSWORD=
      - POSTGRES_DB=emporio
